<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{%static 'cor/css/all.min.css'%}">
  <link rel="stylesheet" href="{%static 'cor/css/bootstrap.css'%}">
  {%block link%}

  <link rel="stylesheet" href="{%static 'cor/css/cor.css'%}">
  {%endblock link%}
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/course/">SOLID LEARNING</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/course/">COURSES</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>


  {%block contant%}


  <h1 style="padding-left: 190px;">WEL-COME IN SOLID LEARNING LLP</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <i class="fas fa-archway fa-5x"></i>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-3"></div>
      <div class="col-md-3"><i class="fas fa-archway fa-5x"></i></div>
    </div>
  </div>
  <div class="style">
    <img src="{%static 'cor/img/s.png'%}" alt="error">
  </div>
  {%endblock contant%}






  <script src="{%static 'cor/js/poper.js'%}"></script>
  <script src="{%static 'cor/js/bootstrap.js'%}"></script>
  <script src="{%static 'cor/js/jQuery.js'%}"></script>
  <script src="{%static 'cor/js/all.min.js'%}"></script>
</body>

</html>