{% extends 'cor/base.html' %}

{%block content%}
      <div class=" container text-white mt-5 md-5 ml-5 mr-5">
      <h1 class="text-warning mt-5 border-bottom">CONTECT US</h1>
      <div class="row">
      <div class="col-sm-8">
      <form class="mt-5 ml-5 mr-5">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
      </div>
      <div class="col-sm-4 ">
          <i class="fas fa-3x fa-mobile-alt mt-5 ml-5 i-con"></i>
          <p>490824543982456</p>
          <i class="fas fa-map-marker-alt fa-3x mt-5 ml-5 i-con "></i>
          <p>our location</p>
           <i class="fas fa-3x fa-mobile-alt mt-5 ml-5 i-con"></i>
          <p>490824543982456</p>
      </div>
      </div>
</div>
     {%endblock content%}