{% extends 'cor/base.html' %} 
{%load static%}
{%block content%}

   <div>
<div class="text-center">
  <img src="{%static 'cor/img/s.png'%}" alt="django" class="img-thumbnail  mt-5 " width="200px" hight="250px">
</div>
<div class='text-white mt-5 mx-5 text-justify '>
    <h1 class="font-weight-bold  st-font">Hello,</h1>
    <div class="px-5 " style="line-height:2rem">
    <p style="text-indent:100px"> I am <b class="text-warning">Deepak kumar sharma</b> having five years Web-devloping expriance for globle besness, Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis quam enim saepe eaque molestias eius fugit dolorum, error delectus  Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, ut voluptas. Voluptas temporibus pariatur autem numquam molestias rerum quas quia.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, ratione. Aliquam est corporis sit ducimus nisi blanditiis laboriosam adipisci enim ab minima, autem eaque, iure animi veritatis cum, sed aperiam Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio dolore, nam exercitationem velit debitis nesciunt ipsa quaerat inventore labore molestias in non voluptatibus similique magnam quisquam, facilis deserunt, libero sapiente corporis temporibus. Magni, dolores minima. <p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis odit libero doloribus quaerat inventore rerum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt rem tempore illo autem ab quisquam vitae sequi quae commodi modi?</p>
    </div>
 </div>
 <div class="text-center">
 <a  href="{%url 'contact'%}" class="btn btn-outline-warning mr-5 my-3"> serveses</a>
 <a  href="{%url 'contact'%}" class="btn btn-outline-info my-3"> Hire Me</a>
 </div>
 </div>

     
     {%endblock content%}