{%load static%}
<div class="border-right border-warning h-100">
        <div class="text-center">
            <img src="{%static 'cor/img/s.png'%}" alt="django" class="image-fluid rounded-circle mt-5 " width="100px" hight="100px">
            <h3 class="text-white mt-3 st-font">Solid learning</h3> 
        </div>
        <hr class="border-light">
             <nav class=" nav flex-column text-center">
             <a href="{%url 'home'%}" class="nav-link {{home}}">Home</a>
             <a href="{%url 'myservises'%}" class="nav-link {{myservises}}">Serveses</a>
             <a href="{%url 'skill'%}" class="nav-link {{skill}}">Skill</a>
             <a href="{%url 'contact'%}" class="nav-link {{contactus}}">contact</a>
             </nav>
        </div>