<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      body{
          background-color:orange;
          padding-left:500px;
      }
    </style>
</head>
<body>
        <h1>DAJNGO COURSE</h1>
        <h2>{{dj}}</h2> <br>

        <h1>PYTHON COURSE</h1> 
        <h2>{{py}}</h2> <br>

        <h1>JAVA COURSE</h1> 
        <h2>{{ja}}</h2> <br>

        <h1>WEB DEVLOPMENT COURSE</h1> 
        <h2>{{webd}}</h2>
</body>
</html>