<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
             <form action="/form" method="POST">
                {% csrf_token %} 
                Name:<input type="text" name="name" placeholder="Enter your name">  <br> <br>
                Email:<input type="email" name="mail" placeholder="Enter your Email"> <br> <br>
                <input type="submit" value="submit now">


             </form>
</body>
</html>