{% extends 'cor/base.html' %}
{%block content%}
    <div class=" container mt-5 ">
         <h1 class=" mt-5 border-bottom text-warning  ">SERVISES</h1>  
             <div class="row text-white mt-5 text-center ">
               <div class="col-md-4 md-5 ">
               <i class="fas fa-search-plus fa-3x i-con"></i>
               <h3 class="mt-3">SEO</h3>
               <p class="ss-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, quos amet. Iusto.</p>
               </div>
              <div class="col-md-4 md-5">
             <i class="fas fa-palette fa-3x i-con"></i>
             <h3 class="mt-3">Web Devlopment</h3>
             <p class="ss-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, quos amet. Iusto.</p>
             </div>
             <div class="col-md-4 md-5">
             <i class="fas fa-code fa-3x i-con"></i>
             <h3 class="mt-3">Web Desine</h3>
             <p class="ss-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, quos amet. Iusto.</p>
             </div>
             
             </div>
             <div class="row text-white mt-5 text-center ">
             <div class="col-md-4 md-5">
             <i class="fab fa-android fa-3x i-con"></i>
             <h3 class="mt-3">Android</h3>
             <p class="ss-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, quos amet. Iusto.</p>
             </div>
             <div class="col-md-4 md-5">
             <i class="fab fa-apple fa-3x i-con"></i>
             <h3 class="mt-3">IOS</h3>
             <p class="ss-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, quos amet. Iusto.</p>
             </div>
             <div class="col-md-4 md-5">
             <i class="fas fa-ad fa-3x i-con"></i>
             <h3 class="mt-3">Advertising</h3>
             <p class="ss-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, quos amet. Iusto.</p>
             </div>
             
             </div>
             <div class="row text-white mt-5 text-center ">
             <div class="col-md-4 md-5">
             <i class="fas fa-pencil-alt fa-3x i-con"></i>
             <h3 class="mt-3">Logo Desine</h3>
             <p class="ss-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, quos amet. Iusto.</p>
             </div>
             <div class="col-md-4 md-5">
             <i class="fas fa-database fa-3x i-con"></i>
             <h3 class="mt-3">Hosting</h3>
             <p class="ss-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, quos amet. Iusto.</p>
             </div>
             <div class="col-md-4 md-5">
             <i class="fas fa-headset fa-3x i-con"></i>
             <h3 class="mt-3">Support</h3>
             <p class="ss-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, quos amet. Iusto.</p>
             </div>
             
             </div>
             
    </div>



     {%endblock content%}