<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "cor/css/home.css" %}'>
    <title>Base page</title>
</head>
<body>
<h1>WEL-COME IN SOLID-LEARNING LLP BEST PLATEFORM FOR LEARNING</h1>
<img src="{%static 'cor/img/s.png'%}" alt="">
<img src="{%static 'cor/img/s.png'%}" alt="">
<img src="{%static 'cor/img/s.png'%}" alt="">

        {%block contant%}
            <h1>THIS IS BASE PAGE OF OUR WEBSITE</h1>

        {%endblock contant%}

</body>
</html>