{% extends 'cor/base.html' %}
{%block content%}
<div class="container">
<h1 class="text-warning mt-5 border-bottom">SKILLS</h1>
<div class="row text-white">
<div class="col-sm-5 pr-5">
  <h3 CLASS="mt-5">HTML/CSS</h3>
  <div class="progress mt-4">
  <div claa="porgress-bar bg-danger " role="progressbar" style="width:100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
  </div>
  </div>
<div class="col-sm-5 pr-5">
  <h3 CLASS="mt-5">JavaScript</h3>
  <div class="progress mt-4">
  <div claa="porgress-bar progress-bar-striped progress-bar-animated bg-info " role="progressbar" style="width=95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
  </div>
</div>
</div>
<div class="row text-white">
<div class="col-sm-5 pr-5">
  <h3 CLASS="mt-5">C++</h3>
  <div class="progress mt-4">
  <div claa="porgress-bar bg-info " role="progressbar" style="width=950%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
  </div>
  </div>
<div class="col-sm-5 pr-5">
  <h3 CLASS="mt-5">PYTHON</h3>
  <div class="progress mt-4">
  <div claa="porgress-bar bg-danger " role="progressbar" style="width=97%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">80%</div>
  </div>
</div>
</div>
<div class="row text-white">
<div class="col-sm-5 pr-5">
  <h3 CLASS="mt-5">EXCEL</h3>
  <div class="progress mt-4">
  <div claa="porgress-bar bg-danger " role="progressbar" style="width=80%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
  </div>
  </div>
<div class="col-sm-5 pr-5">
  <h3 CLASS="mt-5">JAVA</h3>
  <div class="progress mt-4">
  <div claa="porgress-bar bg-danger " role="progressbar" style="width=80%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
  </div>
</div>
</div>
<div class="row text-white">
<div class="col-sm-5 pr-5">
  <h3 CLASS="mt-5">DIGITAL MAARKETING</h3>
  <div class="progress mt-4">
  <div claa="porgress-bar bg-danger " role="progressbar" style="width=90%" aria-valuenow="780" aria-valuemin="0" aria-valuemax="100">90%</div>
  </div>
  </div>
<div class="col-sm-5 pr-5">
  <h3 CLASS="mt-5">DJANGO</h3>
  <div class="progress mt-4">
  <div claa="porgress-bar bg-danger " role="progressbar" style="width=95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
  </div>
</div>
</div>
</div>

     {%endblock content%}